<a href="https://colab.research.google.com/github/PokachalovaKseniya/University/blob/main/Extra_Tasks/%D0%94%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%20%E2%84%962.1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [ ]:
def cube_number(a):
  return int(a)**3
numbers=['1', '2', '3', '4', '5']
list_cube_number=list(map(lambda a: cube_number(a), numbers))
print(list_cube_number)

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [ ]:
def check_word(word):
  return word[0]==word[-1]
words=['level', 'python', 'radar', 'world', 'rotor']
filter_word=list(filter(lambda a: check_word(a), words))
print(filter_word)

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [ ]:
from functools import reduce
def max(x, y):
  return x if x >= y else y
number=[47, 11, 42, 102, 13]
result=reduce(lambda x, y: max(x, y), number)
print(result)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [ ]:
def squaring(a):
  return a**2
def cube(a):
  return a**3
list1=[1, 2, 3]
list2=[4, 5, 6]
squaring_num=list(map(squaring, list1))
cube_num=list(map(cube, list2))
ans=list(zip(squaring_num, cube_num))
print(ans)

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [ ]:
from functools import reduce
def sum_even(number_str):
  number=number_str.split(",")
  even=[int(a) for a in number if int(a)%2==0]
  sum_even=reduce(lambda total, a: total + a, even)
  return sum_even
number_str='1,2,3,4,5,6,7,8,9,10'
result=sum_even(number_str)
print(result)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [ ]:
def f(c):
  return (c * 9/5) + 32
temp_c=[0, 15, 30, 100]
temp_f=list(map(lambda a: f(a), temp_c))
print(temp_f)

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [ ]:
def squaring(a):
  return a**2
number=[1, 2, 3, 4, 5, 6, 7, 8, 9]
s_number=list(map(squaring, filter(lambda a: a%2!=0, number)))
print(s_number)

[1, 9, 25, 49, 81]

---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [ ]:
from functools import reduce
def f(x, y):
  return x*y
num=[1, 2, 3, 4, 5]
res=reduce(lambda x, y: f(x, y), num)
print(res)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [ ]:
def f(x):
  return int(x) if x.isdigit() else 0
strings=['10', '20', 'abc','30','def']
res=list(map(lambda x: f(x), strings))
print(res)

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [1]:
x_coords=[1, 2, 3]
y_coords=[4, 5, 6]

res=list(map(lambda xy: (xy[0], xy[1]), zip(x_coords, y_coords)))
print(res)

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [2]:
def word(words):
  return dict(map(lambda x: (x, len(x)), words))

words=['apple', 'banana', 'cherry']
res=word(words)
print(res)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [5]:
def is_prime(num):
    if num > 1:
        for a in range(2, int(num ** 0.5) + 1):
            if (num % a) == 0:
                return False
        else:
            return True
    else:
        return False
def primes(numbers):
    return list(filter(lambda x: is_prime(x), numbers))
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]
result = primes(numbers)
print(result)

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [7]:
def sum(list1, list2, list3):
  return list(map(lambda x: x[0] + x[1]+x[2], zip(list1, list2, list3)))
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
res=sum(list1, list2, list3)
print(res)

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [11]:
import collections
from functools import reduce
text='Functional programming with lambda functions'
text=text.lower()
text=list(text)
dct=dict(collections.Counter(text))
new=reduce(lambda x,y: max(x,y), dct.values())
for i in dct:
  if dct[i]==new:
    print(i)

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [13]:
from functools import reduce
word = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
vowels = list(map(lambda x : list(map(lambda y : y if y in ['a', 'e', 'i', 'o', 'u', 'y'] else None, x)) , word))
vowels = list(reduce(lambda x, y: x + y, vowels))
res = list(reduce(lambda x, y: x + y, word))
res = list(filter(lambda x : x if x in vowels else None, res))
print(len(res))

13

---